<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>CSE1014</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="icon" href="{{ url_for('static',filename='images/circle-cropped.png') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>

	<body class="header-collapse">
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
				
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
				</div>
			</header> <!-- .site-header -->
			
			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="https://images.unsplash.com/photo-1617957848811-9c07f14d7ba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80">
							<div style="padding: 50px;" class="container">
                                <img style="height: 200px;" src="{{ url_for('static',filename='images/circle-cropped.png') }}" alt="">
								<h2 class="slide-title" style="position: absolute; text-align: center;">Sign Language Translator </h2>
								<h6 style="font-size: 2rem; margin-top: 95px;" class="slide-title">Using Image Detection</h6>
                       <div style="margin-top: 100px;">
                        <a  type="button" class="buttonss button123"  href="/alp">Alphabets</a>
                        <a  type="button" class="buttonss button123"  href="/phrases">Phrases</a>
                       </div>
                                

								<!-- <a href="#main" class="button cut-corner "><i class="fa fa-chevron-down" style="font-size:36px; color: white;"></i></a> -->
							</div>
						</li>
				
					</ul>
				</div>
			</div>
        
		<section id="main">
			<main class="main-content">
			

				<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
					<div class="container">
						 <!-- .section-header -->
						
						
					</div> <!-- .container -->
				</div> <!-- .upcoming-event-section -->

			
			</main> <!-- .main-content -->

		</section>
	
			<footer class="site-footer">
				<div class="container">
				
					
				
					
					<div class="social-links">
						<h6>Sign-Language AI CSE1014</h6>
					</div> <!-- .social-links -->
					
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->

		<script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>		
		<script src="{{url_for('static', filename='js/plugins.js')}}"></script>
		<script src="{{url_for('static', filename='js/app.js')}}"></script>
		
	</body>

</html>